#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1;
}

body{
    font-family: Arial, sans-serif;
}

#containing {
    position: relative;
}

.menu-btn {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-55%);
    height: 40px;
    width: 40px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 50%;
}

#history,
#favourites,
#converter {
    height: 40px;
    width: 119px;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: scale 0.25s ease-in, opacity 0.25s ease-in, filter 0.25s ease-in;
}

#containing:has(.btn:hover) .btn:not(:hover){
    scale: 0.8;
    opacity:0.6;
    fill: blur(2px);
    }

#history:hover,
#favourites:hover,
#converter:hover {
    scale: 1.2;
}

.card {
    width: 48%;
    height: 19rem;  
    margin-left: 26%;
}

.form-control {
    width: 120px;
    display: block;
}

input[type="number"] {
    width: 170px;
    display: block;
}

#result {
    width: 150px;
    height: 38px;
    border-radius: 10px;
    margin-right: 20px;
}

#add {
    width: 160px;
    height: 38px;
    border-radius: 10px;
}
